services:
  app:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=cloud_db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - JWT_SECRET=your_super_secret_jwt_key_here
      - PORT=3000
      - NODE_ENV=development
      - ALLOWED_ORIGINS=http://localhost:8100,http://localhost:5173,http://localhost:3000,http://localhost:3001
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=cloud_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/script.sql:/docker-entrypoint-initdb.d/script.sql
      - ./backend/scriptRoutes.sql:/docker-entrypoint-initdb.d/scriptRoutes.sql
    networks:
      - app-network

  tileserver:
    image: maptiler/tileserver-gl
    ports:
      - "8088:8080"
    volumes:
      - ./map-data:/data
    command: --mbtiles osm-2020-02-10-v3.11_madagascar_antananarivo.mbtiles
    networks:
      - app-network

  frontend:
    build: ./frontend-web
    ports:
      - "5174:80"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge